#map {
    width: 500px;
    height: 300px;
}

.custom{
    text-align: left;
    font-weight: 400;
}

#lineChart {
    height: 100px;
}

#header-picture{
    padding:0px;
    margin: 0px;
    border: 0px;
}