#map {
    width: 500px;
    height: 300px;
}

.custom{
    text-align: center;
    font-weight: 600;
}

.custom2{
    text-align: center;
}

#lineChart {
    height: 100px;
}

#header-picture{
    padding:0px;
    margin: 0px;
    border: 0px;
}

#header-div{
    position: sticky;
}

.nav-header {
 padding:0;   
}

.baltimore-orioles {
    background: url(../img/mlb/baltimore-orioles.svg) no-repeat;
    background-position: left center; 
}

#title{
 text-align: center!important;   
}